:root {
  --btn: #b1b1b1;
  --font_color: rgb(255, 250, 250);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(32, 32, 32);
}

button {
  border: none;
  font-size: xx-large;
  border-radius: 12px;
  padding: 12px;
  background-color: var(--btn);
  color: var(--font_color);
}

.number {
  color: var(--btn);
  font-size: x-large;
  font-weight: 800;
}
.social {
  background-color: var(--btn);
  border-radius: 12px;
  padding: 20px;
}

.lightc {
  background-color: #b1b1b1;
  padding: 5px;
  font-size: 20px;
}

.social a {
  background-color: var(--font_color);
  border-radius: 12px;
  padding: 12px;
  text-decoration: none;
  color: var(--btn);
  font-weight: 600;
}
.social a:hover {
  background-color: var(--btn);
  color: var(--font_color);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(32, 32, 32);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255,  255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} 
